/* author list view */

#author_list {
    padding-top: 1em;
}

#author_list li {
    min-width: 15em;
    display: inline-block;
    cursor:pointer;
}

#author_list ul {
    padding-left: 0;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    display: block;

    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

/* alphabet list */

#alphabet_list {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
}

#alphabet_list li {
    min-width: 2em;
    display: inline-block;
    cursor:pointer;
    font-size: 15px;
}

#alphabet_list li:hover {
    color: darkred;
    font-style: italic;
}

#alphabet_list .selected {
    color: darkred;
    font-weight: bold;
}

#alphabet_list ul {
    padding-left: 0;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    display: block;

    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

