/* authorView */

.left_column {
    float: left;
    width: 80%;
    padding: 1em;
    height: 100%;
}

.right_column {
    float: left;
    width: 20%;
    padding: 2em 1em 1em 1em;
    height: 100%;
}

#author_view .custom_table {
    text-align: center;
}

#author_view .first_column {
    text-align: left;
    width: 40%;
}

#author_view .middle_column {
    text-align: center;
}

.collaborators_list{
    cursor: pointer;
}

.pieChart svg {
    display: block;
    margin: auto;
}

.pieChart h6 {
    text-align: center;
}