body {
    /*font-family: Calibri,Helvetica,Arial,sans-serif;*/
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;

}

h3, h2, h1, h4{
    margin: 0;
    padding: 0;
}

/* General container divisions styles */

.main_view {
    /*background-color: gray;*/
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

div {
    display: block;
}

.container {
    position: relative;
    width:75%;
    margin:0 auto;
    padding:100px 0 0 0;
}

.container_full {
    position: relative;
    padding: 0px;
    width:100%;
    margin:0 auto;
}

.row{
   width: 100%;
   margin: 0 auto;
}


/* Sec Priv Meta */

#sec_prive_meta {
    color: #484043;
    width: 100%;
    margin: 0 auto;
    text-align: left
}

#sec_prive_meta h3 {
    text-align: left
}

#sec_prive_meta p {
    text-align: justify
}

#sec_prive_meta p a {
    color: #336699
}

/* File View */

#file_view li a {
    color: #336699
}

#file_view ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 8px;
}

#file_view {
    text-align: left;
}












