#topic_view h3 {
    color:#484043;
}

#topic_view .column1 {
    /*width: 20%;*/
    position: relative;
    float: left;
    padding-top: 0;
    margin-top: 0;
}

#topic_view .column2 {
    /*width: 80%;*/
    width: 60%;
    position: relative;
    float: right;
}

#topic_view .column2 > div {
    padding-left: 30px;
}

#topic_view .column2 div#topic_view_graph {
    padding-left: 0;
    padding-top: 0;
}

div#topic_view_graph{
    width:100%;
}
div#topic_view_graph svg {
    width: 100%;
    top: 0;
    left: 0;
}

#topic_timeline{
    width:100%;
    padding-top: 8px;
}


/* Graph Style*/

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.selectedBar {
    fill: darkblue;
}

#topic_view_title {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 100%;
}

#topic_view .column1 rect:hover {
    stroke: darkblue;
    stroke-width: 1px;
}

/* Word Diagram */

#words_diagram {
    width: 100%;
    height: 200px;
}

#words_diagram path{
    stroke: darkgrey;
    opacity: 0.5;
}

#words_diagram circle {
    stroke: darkgrey;
    stroke-width: 3px;
    fill: darkgrey;
}

#words_diagram circle:hover {
    fill: darkred;
    stroke: darkred;
}

#words_diagram .word_circle {
    fill: darkred;
    stroke: darkred;
}

#words_diagram .word {
    text-anchor: start;
    cursor: pointer;
}

#words_diagram .word:hover {
    font-weight: bold;
}

/* TopicView Words*/

#topic_view_papers .rows{
    float: left;
    max-height: 70px;
    padding-bottom: 5px;
}

#topic_view_papers .cells, #topic_view .headers .cells {
    float: left;
    max-width: 70%;
    padding-left: 5px;
}

#topic_view_papers .title{
    cursor:pointer;
}

#topic_view_papers .title:hover {
    font-weight: bold;
}

#topic_view .headers .paper_header {
    padding-left: 5em;
    padding-bottom: 1em;
}

#topic_view_papers {
    max-height: 400px;
    overflow: auto;
}