#topic_header {
    width: 100%;
}

#topic_header .rows > div {
    float: left;
}

#cluster_view .wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
    border: 1px solid darkgray;
    margin: 10px 0;
}

#cluster_view .top_row {
    overflow-x: scroll;
    height: 90px;
    white-space:nowrap;
}

#cluster_view .top_row .rows {
    width: 170px;
    float: left;
}

#cluster_view .bottom_row {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

#cluster_view .bottom_row .cells {
    float: left;
}

#cluster_view .bottom_row .cell1 {
    width: 20%;
}

#cluster_view .bottom_row .cell2 {
    width: 20%;
}

#cluster_view .bottom_row .cell3 {
    width: 50%;
}

#cluster_view .bottom_row .cell4 {
    width: 10%;
}

#cluster_view .bottom_row .rows {
    width: 100%;
    min-height: 5em;
    clear: both;
    padding-top: 5px;
    border-bottom: thin solid lightgray;
}

#cluster_view .bottom_row .rows:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

/* Bottom Row */

#clusters_div .bottom_row .rows {
    width: 100%;
    min-height: 6em;
    clear: both;
    padding-top: 5px;
    border-bottom: thin solid lightgray;
}

#clusters_div .rows:hover {
    background-color: #eeeeee;
    cursor: pointer;
}